# -*- makefile -*-
# -----------------------------------------------------------------------
# Copyright 2023-2024 Open Networking Foundation Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http:#www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# -----------------------------------------------------------------------
# SPDX-FileCopyrightText: 2023-2024 Open Networking Foundation Contributors
# SPDX-License-Identifier: Apache-2.0
# -----------------------------------------------------------------------
# Intent:
# -----------------------------------------------------------------------

## Python
.venv/
__pycache__/

tmp/

## Python patch creation
staging/

## -----------------------------------------------------------------------
## License checking:
##   o Absolutely no exceptions, exclusions are not supported.
##   o We cannot simply hack around the problem by inlininig a notice
##     to disable checking because comments will be branded into the
##     patched file.
##   o Maybe this is OK given the patched file is a derived work but
##     legal input required before that answer can be used.
## -----------------------------------------------------------------------
makefiles/virtualenv/patches/lib/python3.10/site-packages/robot/utils/normalizing.py/patch
makefiles/virtualenv/patches/lib/python3.10/site-packages/robot/utils/robottypes3.py/patch
makefiles/virtualenv/patches/lib/python3.10/site-packages/sphinx/util/typing.py/patch
makefiles/virtualenv/patches/lib/python3.10/site-packages/sphinxcontrib/openapi/utils.py/patch

# [EOF]
