# -*- makefile -*-
# -----------------------------------------------------------------------
# -----------------------------------------------------------------------

## Python
.venv/
__pycache__/

## Python patch creation
staging/

# [EOF]
