# -*- makefile -*-
## -----------------------------------------------------------------------
## Intent: Python packages to install for tox command use.
## -----------------------------------------------------------------------

tox

#
doc8~=0.9.0
docutils==0.16

tox

# [EOF]
