# -*- makefile -*-
## -----------------------------------------------------------------------
## Intent: Python packages to install for tox command use.
## -----------------------------------------------------------------------

tox

# [EOF]
